# Build results
bin/
obj/
*.dll
*.exe
*.pdb

# Visual Studio
.vs/
.vscode/
*.user
*.sln.docstates

# JetBrains
.idea/
*.sln.iml

# OS
.DS_Store
Thumbs.db

# App data
AppData/

# Publish output
publish/
